1. Write a program to store seven fruits in a list entered by the user.

In [5]:
fruit1 = input("Enter fruit 1: ")
fruit2 = input("Enter fruit 1: ")
fruit3 = input("Enter fruit 1: ")
fruit4 = input("Enter fruit 1: ")
fruit5 = input("Enter fruit 1: ")
fruit6= input("Enter fruit 1: ")
fruit7 = input("Enter fruit 1: ")
fruits = [fruit1,fruit2,fruit3,fruit4,fruit5,fruit6,fruit7]
print(fruits)

Enter fruit 1:  apple
Enter fruit 1:  banana
Enter fruit 1:  jackfruit
Enter fruit 1:  mango
Enter fruit 1:  lichi
Enter fruit 1:  draganfruit
Enter fruit 1:  papaya

['apple', 'banana', 'jackfruit', 'mango', 'lichi', 'draganfruit', 'papaya']

2. Write a program to accept marks of 6 students and display them in a sorted 
manner.

In [15]:
student1 = input("Enter mark 1: ")
student2 = input("Enter mark 2: ")
student3 = input("Enter mark 3: ")
student4 = input("Enter mark 4: ")
student5 = input("Enter mark 5: ")
student6 = input("Enter mark 6: ")
students = [student1,student2,student3,student4,student5,student6]
students.sort()
print(students)

Enter mark 1:  34
Enter mark 2:  44
Enter mark 3:  32
Enter mark 4:  67
Enter mark 5:  55
Enter mark 6:  45

['32', '34', '44', '45', '55', '67']

3. Check that a tuple type cannot be changed in python.

In [29]:
#define a tuples
my_tuples = (12,33,54)
my_tuples[1] = 99

TypeError: 'tuple' object does not support item assignment

4. Write a program to sum a list with 4 numbers.

In [11]:
num1 = float(input("Enter number 1: "))
num2 = float(input("Enter number 2: "))
num3 = float(input("Enter number 3: "))
num4 = float(input("Enter number 4: "))

num = [num1+num2+num3+num4]
total = sum(num)
print("total number is: ", total)

Enter number 1:  2
Enter number 2:  2
Enter number 3:  2
Enter number 4:  2

total number is:  8.0

5. Write a program to count the number of zeros in the following tuple: 
a = (7, 0, 8, 0, 0, 9)

In [16]:
a = (7,0,8,0,0,9)
b=a.count(0)
print(b)

3